<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>express+blog</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/signin.css">
    <link rel="stylesheet" href="layer/skin/layer.css">
</head>

<body ng-app="Myapp">
    <div>
        <showheader></showheader>
        <div ui-view class="main"></div>
    </div>
    <script src='javascripts/angular/angular.js'></script>
    <script src='javascripts/angular-ui-router/release/angular-ui-router.min.js'></script>
    <script src='http://cdn.staticfile.org/jquery/2.2.1/jquery.min.js'></script>
    <script src='javascripts/bootstrap.min.js'></script>
    <script src='layer/layer.js'></script>
    <script src='layer/alert_layer.js'></script>
    <script src='js/app.module.js'></script>
    <script src='js/app.router.js'></script>
    <script src='js/app.config.js'></script>
    <script src='temp/header/header.directive.js'></script>
    <script src='temp/account/login/login.controller.js'></script>
</body>

</html>